---
id: {{id}}
title: {{kebabToTitleCase id}}
---

## Relationship Details
<div className="table-container">
| Field               | Value                    |
|---------------------|--------------------------|
| **Unique ID**       | {{uniqueId}}                   |
| **Description**      |  {{description}}   |
</div>

## Related Nodes
```mermaid
graph TD;
{{#if (instanceOf relationshipType "CalmInteractsType")}}
{{#each relationshipType.nodes}}
{{../relationshipType.actor}} -- Interacts --> {{this}};
{{/each}}
{{else if (instanceOf relationshipType "CalmConnectsType")}}
{{relationshipType.source.node}} -- Connects --> {{relationshipType.destination.node}};
{{else if (instanceOf relationshipType "CalmComposedOfType")}}
{{#if (eq relationshipType.container ../id)}}
{{#each relationshipType.nodes}}
{{../relationshipType.container}} -- Composed Of --> {{this}};
{{/each}}
{{/if}}
{{#each relationshipType.nodes}}
{{#if (eq this ../../id)}}
{{../relationshipType.container}} -- Composed Of --> {{this}};
{{/if}}
{{/each}}
{{else if (instanceOf relationshipType "CalmDeployedInType")}}
{{#each relationshipType.nodes}}
{{../relationshipType.container}} -- Deployed In --> {{this}};
{{/each}}
{{#each relationshipType.nodes}}
{{#if (eq this ../../id)}}
{{../relationshipType.container}} -- Deployed In --> {{this}};
{{/if}}
{{/each}}
{{/if}}

```

{{> controls.hbs}}

## MetaData
{{> metadata.hbs data=metadata.data}}
