---
id: {{id}}
title: {{kebabToTitleCase id}}
---

## Details
<div className="table-container">
| Field               | Value                    |
|---------------------|--------------------------|
| **Unique ID**       | {{uniqueId}}                   |
| **Description**      |  {{description}}   |
</div>

## Related Nodes
```mermaid
graph TD;
{{#if (eq relationshipType.kind "interacts")}}
{{#each relationshipType.nodes}}
{{../relationshipType.actor}} -- Interacts --> {{this}};
{{/each}}
{{else if (eq relationshipType.kind "connects")}}
{{relationshipType.source.node}} -- Connects --> {{relationshipType.destination.node}};
{{else if (eq relationshipType.kind "composed-of")}}
{{#each relationshipType.nodes}}
{{../relationshipType.container}} -- Composed Of --> {{this}};
{{/each}}
{{else if (eq relationshipType.kind "deployed-in")}}
{{#each relationshipType.nodes}}
{{../relationshipType.container}} -- Deployed In --> {{this}};
{{/each}}
{{/if}}

```

## Controls
{{> controls.hbs}}

## Metadata
{{> metadata.hbs data=metadata.data}}
